header .top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  width: 1200px;
}

header .top h1 a:first-child {
  margin: 0 28px;
}

header .top h1 {
  padding: 33px 0;
}

.icons {
  display: flex;
}

.icons .control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 31px 24px;
}

.control h2 {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  padding-right: 9px;
}

.control ul {
  display: flex;
}

.control li {
  padding-left: 4px;
}
.control ul li button {
  min-width: 36px;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  background-color: white;
  color: #3190ce;
  border: 1px solid #dfdfdf;
  border-radius: 36px;
}

.control ul li button[class] {
  padding: 0; /*동그랗게 만들어주기*/
}

.icons .sns {
  position: relative;
  display: flex;
  padding: 27px 0 0 7px;
}

.icons .sns::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 1px;
  height: 30px;
  background-color: #e3e3e3;
}

.icons .sns li {
  padding: 0 0 0 12px;
}

.icons .sns img {
  width: 46px;
}
