header .top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

header .top h1 a:first-child {
  margin: 0 28px 0 0;
}

header .top h1 {
  padding: 33px 0;
}

.icons {
  display: flex;
}

.icons .control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 31px 24px;
}

.control h2 {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  padding-right: 9px;
}

.control ul {
  display: flex;
}

.control li {
  padding-left: 4px;
}
.control ul li button {
  min-width: 36px;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  background-color: white;
  color: #3190ce;
  border: 1px solid #dfdfdf;
  border-radius: 36px;
}

.control ul li button[class] {
  padding: 0; /*동그랗게 만들어주기*/
}

.icons .sns {
  position: relative;
  display: flex;
  padding: 27px 0 0 7px;
}

.icons .sns::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 1px;
  height: 30px;
  background-color: #e3e3e3;
}

.icons .sns li {
  padding: 0 0 0 12px;
}

.icons .sns img {
  width: 46px;
}

.topb {
  width: 1200px;
  height: 60px;
  padding: 0 150.5px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.topb nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0 auto;
}

.topb .navbar {
  display: flex;
  align-items: center;
}

.topb .navbar li {
  position: relative;
}

/*선 만들기*/
.topb .navbar li ~ li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 1px;
  height: 10px;
  background: #e3e3e3;
}

/*a에 padding을 넣어서 텍스트 주변도 클릭되도록 함*/
.topb .navbar li a {
  position: relative;
  font-size: 20px;
  padding: 16px 40px;
}

.topb .login {
  display: flex;
  align-items: center;
}

.topb .login a {
  position: relative;
  line-height: 60px;
  padding: 0 8px;
  font-size: 16px;
  font-weight: lighter;
}

/*선 만들기*/
.topb .login a ~ a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 1px;
  height: 10px;
  background: #e3e3e3;
}

.topb .login button {
  width: 60px;
  height: 60px;
  font-size: 26px;
  background: none;
  color: #277dbf;
}

.block > div {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

.block .tit {
  text-align: center;
}

.block .tit h2 {
  font-size: 38px;
  line-height: 1; /*줄간격 초기화*/
  color: #333;
}

.block .tit p {
  padding: 28px;
  font-size: 21px;
  line-height: 1;
  color: #666;
}

.service .banner {
  display: flex;
  justify-content: space-between;
}

.service .banner h3 {
  padding: 35px 0 15px 0;
  font-size: 25px;
  line-height: 35px;
  font-weight: normal;
  color: white;
}

.service .banner p {
  padding: 0 0 15px 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: lighter;
  color: #e0e4f0;
}

.service .banner .left {
  display: flex;
  text-align: center;
  line-height: 1;
}

.service .banner .left > div {
  width: 290px;
  background-color: #89c0eb;
}

.service .banner .right {
  display: flex;
  text-align: center;
  line-height: 1;
}

.service .banner .right > div {
  width: 290px;
  background-color: #354fa6;
}
